
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.button {
    border-color: black;
    width: 100px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
    align-items:center;
    position:absolute; 
    background: rgb(255, 255, 255);
}
.settings_button {
    border-color: black;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
    align-items:center;
}

.top_button_row{
    position:relative;
    height: 30px; 
    width: 100%; 
    display: flex; 
    justify-content: center;
    align-items:center;
}
.settings_top_button_row {
    position: absolute;
    display: flex;
    left: 20px; /* inside the padding */
    top: 50%;
    transform: translateY(-50%);
}
#top_row_container{
    position: absolute; 
    display: flex; 
    width: 100%; 
    align-items: center; 
    padding: 20px; 
    padding-left: 150px;
    background-color: rgb(0,0,0,0.2);
    border-bottom:3px solid #555;
}


#canvas_id {
    cursor: default; /* or 'crosshair', 'pointer', etc. */
}
#mousepos{
    width: 200px;
}

#displayText{
    position: absolute; 
    color: white;
    display:flex;
    align-items:center;
    justify-content: center;
    top: 22%;
    right: 10%;
    bottom: 10%;
    left: 10%;
    display:none;
    background-color: rgb(0,0,0,0.4);
}

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
}

.dropdown-content {
    display: none; /* hidden by default */
    position: absolute; /* key for dropdown */
    top: 190%; /* directly below the button */
    left: 0;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    flex-direction: column;
    z-index: 10; /* ensures it sits above other content */
    border: 3px solid #555;
    border-radius: 5px;
    max-width: 231;
}

.dropdown-button {
    border-color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
    align-items:center;
    display: flex;
    position: relative;
    background: rgb(255, 255, 255);
}

.button:hover{
  background: rgb(228, 249, 255);
}

.dropdown-button:hover{
    background: rgb(228, 249, 255);
}

.slidecontainer{
    font-size: 13px;
    padding: 3;
    color: rgb(0, 0, 0);
    padding-right: 6px;
    background: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    border-width:2px;
    border-style:solid;
    border-color:black;
    margin-bottom: 5;
}

.slider{
  width: 100%; /* Set a specific slider handle width */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
  
}

.slider:hover{
    background: rgb(172, 237, 255);
}

.button.active {
    background: rgb(172, 237, 255);
}

.play-stop_button {
    border-color: black;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
    align-items:center;
    position: absolute;
}

#displayTextBottom{
    position: absolute; 
    color: white;
    display:flex;
    align-items:center;
    justify-content: left;
    background-color: rgb(0,0,0,0.19);
    bottom: 0;
    width: 100%;
    padding: 5 5 5 13;
    transition: opacity 1s ease;
}

#canvasDiv{
    position: relative;
    display: inline-block;
    margin: 0 0 20 0;
    border:3px solid #555;
}

.canvas_holder{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

body{
    background-image: url(https://images.rawpixel.com/image_1100/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjg4MC1rdWwtMDktYS5qcGc.jpg);
}

.front_page_div{
    display: flex;
    width: 100%;
    margin: 20 15 20 15;
    border: 3px;
    border-radius: 10px;
    background-color: rgba(192, 192, 192, 0.9);
    border:3px solid #555;
    flex-direction: column;
    padding: 80;
}

.header_div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 20;
}

#main_header{
    width: 80%;
    display: flex;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
    border: 3px;
    border-radius: 10px;
    background-color: rgba(192, 192, 192, 0.9);
    border:3px solid #555;
    padding: 20;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.h_1_main{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-size: 45;
    margin: 0 0 40 0;
}
.h_1{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-size: 35;
    margin: 20 50 20 50;
    padding-bottom: 20;
    border-bottom: 3px solid #333;
}
.h_2{
    display: flex;
    text-align: left;
    justify-content: left;
    font-size: 30;
    font-weight: normal;
    margin: 30 0 10 0;
    
}
.nt{
    text-align: left;
    justify-content: left;
    font-size: 17px;
    font-weight: normal;
    margin: 0;
}.nt_center{
    text-align: center;
    justify-content: center;
    font-size: 17px;
    font-weight: normal;
    margin: 0;
}

.preset_row_center{
  display: flex;
  flex-direction: row;
  padding: 5;
  gap: 10px;
  justify-content: center;
}